<div class="container-fluid" style="margin-bottom: -20px;">
    <div class="row">
      <div class="col-md-12" style="background-color:#7E354D; height:100px;">
        <div class="headerContainer">
          <h1 style="text-align:center;color:white;padding-top:10px"><u>About Us</u></h1>
        </div>
      </div>
      <div class="col-md-12 downpane"> </div>
      <div class="col-md-5 leftImageContainer">
       <img src="../assets/about.jpg" width="100%">
      </div>
      <div class="col-md-7" style="background-color:#F3E5AB">
        <p style="padding-top:100px;font-size: 17px;text-align:center">
            Lord Jesus Public School was established in 1999, affiliated to CISCE New Delhi, possesses approx. 2100 students on roll. It is a one of the premier institutes which provides rich & vibrant environment, conducive for the intellectual pursuits and holistic development of the students.The school is moulding a new generation of students into a genre of well integrated personalities equipped with life skills necessary to take up future challenges.<br>
            The school offers wide range of co-curricular activities so as to develop the physical, reasoning, logical and intellectual development. L.J.P.S is boastful of being possessed with highly qualified experienced and dedicated team of teachers.
            The school also has highly devoted and supportive Non-teaching staff. L.J.P.S is one of the fore runners amongst the elite educational institution in the city.
            
        </p>
      </div>
    </div>
  </div>
  