<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="background-color:#7E354D; height:100px;">
      <div class="headerContainer">
        <h1 style="text-align:center;color:white;padding-top:10px">
          <u>Director's Message</u>
        </h1>
      </div>
    </div>
    <div class="col-md-12 downpane">
      <marquee style="padding-top:12px;" onmouseover="this.stop();" onmouseout="this.start();">
        <a routerLink="/principal" style="color:white;">Pricipal's Message</a>
      </marquee>
    </div>
    <div class="col-md-12" style="margin-bottom: -20px;">
      <div class="row">
        <div class="col-md-2" style="text-align:center">
          <img src="../assets/directorImages/Ashok Sardana.jpg" style="width:100%; padding:20px">
          <p style="font-size:18px;"><u>Ashok Sardana</u></p>
        </div>
        <div class="col-md-8" style="background-color:#F3E5AB">
         <p style="font-size: 17px;padding-top: 30px;">It is our pleasure to welcome you to LJPS family. Here we are deeply committed to ensuring that everyday, each and every student seeks the attention in the area of academics and co-scholastic activities. LJPS teaches the personal values, academic qualities and sense of responsibility needed for life - long learning.
            From the modest beginning in 1991, the school has grown into a fully integrated institute having around 2150 students on roll. Our objective is to provide diverse academic curricular which further enhances our students' strength.
            Thank you for your valuable support and interest in our institute.Please feel  free to contact us with concerns regarding educational needs of your child. Your co-operation will be highly solicited.
            </p>
        </div>
        <div class="col-md-2" style="text-align:center;">
          <img src="../assets/directorImages/Ravi Kant Dureja.jpg" style="width:100%;padding:20px">
          <p style="font-size:18px;"><u>Ravi Kant Dureja</u></p>
        </div>
      </div>
    </div>

  </div>
</div>
