<div class="container-fluid" style="margin-bottom: -20px;">
  <div class="row">
    <div class="col-md-12 " style="background-color:#7E354D; height:100px;">
      <div class="row">
          <div class="col-md-8 galleryContainer">
              <h1>Our Gallery</h1>
            </div>
            <div class="col-md-4 rightContainer" id="sidebar">
              <div class="widget sidemenu">
                <ul>
                  <li>
                    <a href="prize.html">Disperstainment 2018
                      <span class="nr">04</span>
                    </a>
                  </li>
                  <li>
                    <a href="assembly.html">Blessing Ceremony 2018
                      <span class="nr">07</span>
                    </a>
                  </li>
                  <li class="current">
                    <a href="latestatljps.html">Latest at LJPS
                      <span class="nr">06</span>
                    </a>
                  </li>
                </ul>
              </div>
      
            </div>
      </div>
     

    </div>
  </div>
</div>
