<div class="container-fluid mainContainer">
  <div class="row ">
    <div class="col-md-12 " style="background-color:#7E354D;">
      <div class="row" >
       
        <div class="offset-md-1  col-md-7 galleryContainer" style="margin-top:30px;">
            <div class="col-md-12"><h1>Our Gallery</h1> </div>
          <div class="row bxslider">
           <div>
              <a href="../assets/gallery/DSC_0245 (1).jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0245.png" class="img-fluid" >
              </a>
              <a href="../assets/gallery/DSC_0232.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0232.png" class="img-fluid">
              </a>
              <a href="../assets/gallery/DSC_0233.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0233.png" class="img-fluid">
              </a>
              <a href="../assets/gallery/DSC_0234.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0234.png" class="img-fluid">
              </a>
           </div>
           <div>
              <a href="../assets/gallery/DSC_0237.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0237.png" class="img-fluid">
              </a>
              <a href="../assets/gallery/DSC_0238.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0238.png" class="img-fluid">
              </a>
              <a href="../assets/gallery/DSC_0240.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0240.png" class="img-fluid">
              </a>
              <a href="../assets/gallery/DSC_0241.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0241.png" class="img-fluid">
              </a>
           </div>
           <div>
              <a href="../assets/gallery/DSC_0242.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0242.png" class="img-fluid">
              </a>
              <a href="../assets/gallery/DSC_0243.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0243.png" class="img-fluid">
              </a>
              <a href="../assets/gallery/DSC_0373.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0373.png" class="img-fluid">
              </a>
              <a href="../assets/gallery/DSC_0377.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0377.png" class="img-fluid">
              </a>
           </div>
           <div>
              <a href="../assets/gallery/DSC_0009.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0009.png" class="img-fluid">
              </a>
              <a href="../assets/gallery/DSC_0021.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0021.png" class="img-fluid">
              </a>
              <a href="../assets/gallery/DSC_0023.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/DSC_0023.png" class="img-fluid">
              </a>
              <a href="../assets/gallery/headBoy.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                <img src="../assets/gallery/latest/headBoy.png" class="img-fluid">
              </a>
           </div>
            <div>
                <a href="../assets/gallery/DSC_0032.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                  <img src="../assets/gallery/latest/DSC_0032.png" class="img-fluid">
                </a>
                <a href="../assets/gallery/DSC_0040.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                  <img src="../assets/gallery/latest/DSC_0040.png" class="img-fluid">
                </a>
                <a href="../assets/gallery/DSC_0042.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                  <img src="../assets/gallery/latest/DSC_0042.png" class="img-fluid">
                </a>
                <a href="../assets/gallery/DSC_0043.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                  <img src="../assets/gallery/latest/DSC_0043.png" class="img-fluid">
                </a>
            </div>
            <div>
                <a href="../assets/gallery/DSC_0048.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                  <img src="../assets/gallery/latest/DSC_0048.png" class="img-fluid">
                </a>
                <a href="../assets/gallery/DSC_0056.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                  <img src="../assets/gallery/latest/DSC_0056.png" class="img-fluid">
                </a>
                <a href="../assets/gallery/DSC_0079.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-6">
                  <img src="../assets/gallery/latest/DSC_0079.png" class="img-fluid">
                </a>
            </div>
           
          </div>
        </div>
        <div class="col-md-4 rightContainer" id="sidebar">
          <div class="widget sidemenu" style="margin-right:60px">
            <ul>
              <li>
                <a routerLink="/prize">Disperstainment 2018
                  <span class="nr">04</span>
                </a>
              </li>
              <li>
                <a routerLink="/assembly">Blessing Ceremony 2018
                  <span class="nr">07</span>
                </a>
              </li>
              <li>
                <a routerLink="/latestatljps">Latest at LJPS
                  <span class="nr">06</span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
<div class=" col-md-12 blackContainer"  style="margin-bottom:-20px"></div>