<div class="container-fluid" style="margin-bottom: -20px;">
  <div class="row">
    <div class="col-md-12" style="background-color:#7E354D; height:100px;">
      <div class="headerContainer">
        <h1 style="text-align:center;color:white;padding-top:10px">
          <u>Notice Board</u>
        </h1>
      </div>
    </div>

    <div class="col-md-5 leftImageContainer">
      <img src="../assets/lordj.jpg" width="100%">
    </div>
    <div class="col-md-7" style="background-color:#F3E5AB;">
      <marquee  onmouseover="this.stop();" onmouseout="this.start();" direction="up" behavior="alternate" style="height:100px">
        <a href="Notice-2.pdf">Click here to see new notice regarding safety of Students by Management</a>
        <br>
        <a href="Notice-2.pdf"> CIRCULAR </a>
        <br>
        <a href="Notice-2.pdf">Click here to see new notice regarding police verification of all the private Van Drivers and Auto Drivers </a>
      </marquee>
    </div>
  </div>
</div>
