.galleryContainer h1{
    color:white;
    font-size: 60px;
    font-family: 'BebasNeue';
    line-height: 68px;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: 30px;
}
#sidebar .sidemenu ul{
    list-style: none;
}
#sidebar h2 {
	text-align: left;
	padding-bottom: 27px;
}



#sidebar .sidemenu {
	padding-top: 9px;
}

#sidebar .sidemenu a {
	border: 1px solid #d7dbe1;
	border-radius: 4px;
	display: block;
	margin-bottom: 8px;
	height: 45px;
	line-height: 43px;
	padding: 0 0 0 15px;
	font-family: 'BebasNeue';
	color: #7e8798;
	font-size: 24px;
	position: relative;
}

.mac #sidebar .sidemenu a {
	padding: 3px 0 0 15px;
}

#sidebar .sidemenu a:hover:after,
#sidebar .sidemenu .current a:after {
	position: absolute;
	content: "";
	left: -8px;
	top: 15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 7px 7.5px 0;
	border-color: transparent #008cc4 transparent transparent;
}

#sidebar .sidemenu .current a,
#sidebar .sidemenu a:hover {
	border: 1px solid #008bc4;
	color: #fff;
	background: #008bc4;
	text-decoration: none;
}

#sidebar .sidemenu .current a .nr,
#sidebar .sidemenu a:hover .nr {
	background: #2c4167;
}

#sidebar .sidemenu a .nr {
	height: 27px;
	width: 47px;
	display: block;
	border-radius: 3px;
	float: right;
	background: #e7e8ec;
	line-height: 27px;
	font-size: 15px;
	margin: 8px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.mac #sidebar .sidemenu a .nr {
	margin: 5px 8px 8px 8px;
}

.galleryContainer img{
    height:153px;
    width:185px;
    margin-bottom: 10px;
    display: block;
   border-radius: 10px;
}

.blackContainer{
    height: 20px;
    background-color: black;
}
.galleryContainer p{
	color: white;
	font-size: 16px;
}
.rightContainer{
    margin-top: 120px;
}
.bxslider_ljps{
	margin-left: 24px;
	background-color: #7E354D;
}
@media (max-width: 991px) {
    .galleryContainer h1{
        font-size: 49px;
    }
    #sidebar .sidemenu a {
        font-size:14px;
	}
	.bxslider_ljps{
		margin-left: 0px;
	}
	.galleryContainer h1{
		font-size: 34px;
	}
}