<div class="container-fluid" style="margin-bottom: -20px;">
    <div class="row">
      <div class="col-md-12" style="background-color:#7E354D; height:100px;">
        <div class="headerContainer">
          <h1 style="text-align:center;color:white;font-family:'BebasNeue'"><u>Principal's Message</u></h1>
        </div>
      </div>
      <div class="col-md-12 downpane"> </div>
      <div class="col-md-5 leftImageContainer">
       <img src="../assets/directorImages/seema.jpg" width="100%">
      </div>
      <div class="col-md-7" style="background-color:#F3E5AB">
        <p style="padding-top: 22px;font-size: 17px;text-align:center">
            <i> 
                "Dear Staff, Parents and Students,<br>
                I warmly welcome you all in the 2017-18 school year. Our commitment at school is to provide a safe and intellectually challenging environment that empowers students to become innovative and creative learners. High standards &amp; expectation for each student in regard to academic performance, co-curricular participation and responsible citizenship are the foundation of our school.
                We spare no efforts to make the educational experience of our students meaningful and relevant to the socio – economic needs of the times.
                And as the cliché goes, last not the least, I expect all my young L.J. Pians to focus on their cherished goals and strive hard to accomplish.
                <br>
                I am honoured to serve you as your principal".<br>
                In conclusion I wish you all a wonderful year ahead!!</i>
        </p>
        <p style="float:right;font-size:20px">Seema Sharma</p>
      </div>
    </div>
  </div>
  