.contentContainer h2{
    color: #7e8798;
    font-size: 60px;
    font-family: 'BebasNeue';
    line-height: 68px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 25px;
}

.contentContainer p{
    font-size: 17px;
}


.noticeBoard_Container{
    margin-top: 0px;
}

