
<audio autoplay>
  <source src="../assets/song.mp3" type="audio/mpeg">
</audio>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="background-color:#7E354D; height:40px;"></div>
    <div class="col-md-12 contentContainer" style="background-color:#add8e6">
      <div class="row">
        <div class="col-md-3" style="text-align:center">
          <img src="../assets/houseImages/abrahm.jpg" style="padding:20px;">
        </div>
        <div class="col-md-9">
          <h2>Abraham House</h2>
          <p>
            "As you think thoughts that feel good to you, you will be in harmony with who you really are.All you gotta do is chill out..
            Let go of control and chill out.. Let it be, trust. Character is like a tree and reputation like a shadow. The
            shadow is what we think of it; the tree is the real thing."</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 contentContainer" style="background-color:orange">
      <div class="row">
        <div class="col-md-3" style="text-align:center">
          <img src="../assets/houseImages/mahatma-gandhi-6a.jpg" style="padding:20px;">
        </div>
        <div class="col-md-9">
          <h2>Gandhi House</h2>
          <p>

            When I admire the wonders of a sunset or the beauty of the moon, my soul expands in the worship of the creator. "It is health
            that is real wealth and not pieces of gold and silver."</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 contentContainer" style="background-color:#FF0000">
      <div class="row">
        <div class="col-md-3" style="text-align:center">
          <img src="../assets/houseImages/mand.jpg" style="padding:20px;">
        </div>
        <div class="col-md-9">
          <h2>Mandela House</h2>
          <p>

            "I learned that courage was not the absence of fear, but the triumph over it. The brave man is not he who does not feel afraid,
            but he who conquers that fear. "It is better to lead from behind and to put others in front, especially when
            you celebrate victory when nice things occur. You take the front line when there is danger. Then people will
            appreciate your leadership."</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 contentContainer" style="background-color:#7CFC00;margin-bottom: -20px;">
      <div class="row">
        <div class="col-md-3" style="text-align:center">
          <img src="../assets/houseImages/mother.jpg" style="padding:20px;">
        </div>
        <div class="col-md-9">
          <h2>Teresa House</h2>
          <p>
            "Our most sincere condolences on the loss of a saint. Now, more than ever, must we remember her teachings, and pray for love
            and peace on Earth. Let us always meet each other with smile, for the smile is the beginning of love. We shall
            never know all the good that a simple smile can do."Amen</p>
        </div>
      </div>
    </div>
  </div>
</div>
