
<div class="container-fluid sliderContainer">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_00_delay-2s.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_01_delay-2s.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_02_delay-2s.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_03_delay-2s.jpg" alt="Fourth slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_04_delay-2s.jpg" alt="Fifth slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_05_delay-2s.jpg" alt="Sixth slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_06_delay-2s.jpg" alt="Seven slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_07_delay-2s.jpg" alt="Eight slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_08_delay-2s.jpg" alt="nine slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_09_delay-2s.jpg" alt="Tenth slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_10_delay-2s.jpg" alt="Eleven slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_11_delay-2s.jpg" alt="twelve slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_12_delay-2s.jpg" alt="Thirteen slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_13_delay-2s.jpg" alt="Fourteen slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../assets/sliderImg/frame_14_delay-2s.jpg" alt="Fifteen slide ">
          </div>
          <div class="carousel-item ">
              <img class="d-block img-fluid " src="../assets/sliderImg/frame_15_delay-2s.jpg " alt="Sixteen slide ">
          </div>
      </div>
     
  </div>
</div>