<div class="container-fluid" style="margin-bottom: -20px;">
  <div class="row">
    <div class="col-md-12" style="background-color:#7E354D; height:100px;">
      <div class="headerContainer">
        <h1 style="text-align:center;color:white;padding-top:10px"><u>ADMISSION</u></h1>
      </div>
    </div>
    <div class="col-md-12 downpane"> </div>
    <div class="col-md-5 leftImageContainer">
     <img src="../assets/vpark.jpg" width="100%">
    </div>
    <div class="col-md-7" style="background-color:#F3E5AB">
      <p style="padding-top: 22px;font-size: 17px;">
          The registration for admission to Class LKG is open from September/October of every year . An application for registration is the first stage of the admission process. The registration for admission to Class UKG to IX (if vacancy exists) remains open in the month of February of current session. The school conducts a written test for entrance senior classes i.e.UKG to 9th examination for all the candidates seeking admission in the school. Admissions are given on the basis of interaction of the child in the presence of the parents (only for LKG), and on the basis of result of entrance exams of other classes (UKG to IX) and will depend on the numbers of vacancies in each class. The selection committee  has the sole right to the admission and their  decision is final and binding.

          The academic session begins in the last week  of March for LKG and UKG and in the first week of April for class 1st onwards every Year. New admission to the school is subject to the following:
          
          Timely Registration for those seeking admission.
          Availability of seats in the class for which admission is sought.
          Qualifying in the written examination and interview.
          Subjects for the written exam are as under:
          
                  Classes 1 to IX -English, Mathematics, Hindi.
          
           
          New admission to classes X and XII (from other boards) is not permitted. Admission for class XI allowed only provisionally in April and is confirmed in June/July based on their performance in Class X of Board Exams.
          
          
      </p>
    </div>
  </div>
</div>
