.headerContainer{
    background-color:black;
    height:70px;
     margin-top:30px;
     margin-left:-15px;
     margin-right:-15px;
}

.downpane{
    height: 30px;
    background-color: #C0C0C0;
}

.leftImageContainer{
  
}